@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Luckiest+Guy&display=swap');

:root {
    --header-color: #211951;
    --tab-color: #836FFF;
    --button-color: #15F5BA;
    --background-color: #F0F3FF;
}

body {
    overflow: hidden;
}

/* Header */
.header-container {
    display: flex;
    background-color: var(--header-color);
    font-family: "Luckiest Guy", sans-serif;
    color: white;
    justify-content: center;
    padding: 2rem;
}

/* Tab */
#conversionTab {
    background-color: #E5EEED;
}

.nav-tabs > li > a.active {
    background-color: var(--tab-color) !important;
    color: #ffffff !important;
}
  
.nav-tabs > li > a:hover {
    color: black !important;
}
  
.nav-link {
    color: black;
}

/* Decimal 32*/
/* Outer Container */
.input-outer-container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

/* Input Container */
.input-container1 {
    flex: 1;
    padding: 20px;
}

.input-content1,
.input-content2 {
    display: flex;
    justify-content: left;
}

.input-content1 p  {
    font-family: "Amaranth", sans-serif;
    font-size: 30px;
    margin-top: 7rem;
    margin-left: 1rem;
}

.dropdown-container {
    margin-top: 7rem;
    margin-left: 1rem;
}

.input-content2 {
    margin-left: 1rem;
    padding-top: 1rem;
}

.input-content2 p {
    font-family: "Amaranth", sans-serif;
    font-size: 30px;
    margin-top: 0.2rem;
}

#decimal-box {
    margin-right: 1rem;
    height: 8vh;
    width: 25vw;
}

#exponent-box {
    margin-left: 1rem;
    height: 8vh;
    width: 12vw;
}

.input-button-container {
    margin-left: 1rem;
    padding-top: 2rem;
}

#convert-decimal-btn,
#convert-float-btn {
    font-family: "Amaranth", sans-serif;
    font-size: 1.4em;
    margin-right: 1rem;
    width: 10vw;
    float: left;
}

#clear-decimal-btn,
#clear-float-btn {
    font-family: "Amaranth", sans-serif;
    font-size: 1.4em;
    width: 10vw;
    float: left;
}

#input-label {
    font-family: "Amaranth", sans-serif;
    margin-left: 1rem;
    font-size: 1.5em;
    margin-top: 1rem;
}

#dropdown-title {
    font-family: "Amaranth", sans-serif;
    font-size: 1.2em;
}

/* Output Container */
.output-container1 {
    flex: 1;
    padding: 20px;
}

.output-content1 p {
    font-family: "Amaranth", sans-serif;
    font-size: 20px;
    margin-left: 1rem;
    margin-top: 3rem;
}

.binary-box,
.hexadecimal-box,
.decimal-box {
    display: inline-block;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #eadcce;
    width: auto;
    width: 45vw;
    height: 8vh;
    margin-left: 1rem;
}

#export-decimal-btn,
#export-float-btn {
    font-family: "Amaranth", sans-serif;
    font-size: 1.2em;
    width: 15vw;
    margin-top: 3rem;
    float: right;
    margin-right: 1rem;
}

/* Floating Point */
#binary-box {
    margin-top: 9.85rem;
    margin-left: 1rem;
    margin-right: 1rem;
    height: 8vh;
    width: 40vw;
}

.float-input-button-container {
    margin-top: 1rem;
    margin-left: 1rem;
}

.float-output-content1 p {
    font-family: "Amaranth", sans-serif;
    font-size: 20px;
    margin-left: 1rem;
    margin-top: 7rem;
}